.l-hat.banks
  .m-container
    .content
      .hat__info
        h1.mb-6.hat__title Лучшие банки для открытия счета
        p.grey.hat__desc Мы собрали подробную информацию о тарифах банков, чтобы вы могли сравнить их выбрать наилучший вариант для своего бизнеса
        a.btn.mt-10 Сравнить условия
      .hat__image: img(src="/img/bank.svg")