doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Найди Банк – Банки с выгодными тарифами на РКО для ИП и ООО в России | Полезные статьи
  link(rel='stylesheet', href='css/main.css')
body
  //= templates/header.pug
  //= templates/articles/articles-list.pug
  //= templates/footer.pug
  

script(src='js/main.js')
